<!-- Hide the viewport in the main layout -->
<script>
jQuery.noConflict();

jQuery(document).ready(function(){
  jQuery("#viewport").css({display:'none'});
});
</script>
<div id="user">
<h3><%= image_tag('/images/emark.png', :style => 'float:left;margin-top:-.58em') %>We're sorry for trying to kiss you this early on in the date, <br/>it's just that tubemarking needs a username.
</h3>
<%= error_messages_for :user, :header_message => "Please Try Again!", :message => "" %>
<% form_for :user, :url => users_path do |f| -%>

<h4>Free SignUP ↑</h4>
<p><label for="login">Username</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.text_field :password %></p>


<p><%= submit_tag 'SignUP' %></p>
<% end -%>
</div>