<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TubeMarks</title>
  <%= stylesheet_link_tag 'purple' %>
  <%= javascript_include_tag :defaults, 'jquery', 'corners' %>  
</head>

<body>
<div id="container">
	<p id ='signUPtr'><%= link_to 'Login', login_path unless logged_in? %> <%= link_to 'Logout', logout_path if logged_in? %> / 	<%= link_to 'Signup', signup_path unless logged_in? %></p>
    
	<%= link_to image_tag ("/images/tubes2.png", :id => 'logo'), videos_path %>
	
	<% if logged_in? %>
	    <!-->
		<%= link_to image_tag ('/images/logOUT.png', :id => 'logOUT'), logout_path %>
		<%=link_to  current_user.login, user_videos_path(current_user) %> | 
		<%= link_to 'youtube.com', 'http://www.youtube.com/' %> | <%= link_to 'Logout', logout_path %>
		<!-->
	<% else %>
		<%= link_to image_tag ('/images/signUP.png', :id => 'signUP'), signup_path %> 
	    <%= link_to image_tag ('/images/signIN.png', :id => 'signIN'), login_path %>
	<% end %>
			
	<%= render :partial => 'marks/new_mark_form', :object => 'video' if logged_in? %>

	<div id = "flash_notice"  style="padding:.5em 0 0 5em;display: <%= flash[:notice] ? 'block' : 'none' %>">
	  	<%= flash[:notice] %>
	</div>
	
	<%= yield  %>
		<%= yield :viewport %>
</div>
	
<div id="footer">
	<div id='bookmark'>
	    <%= image_tag ('/images/dragThis.png', :id => 'dragThis') %> 
		<%= link_to (image_tag '/images/bookmarklet2.png', {:border => 0, :alt => "tubemarks", :id => "bookmarklet" }), bookmarklet() %> 
		<%= image_tag ('/images/toYour.png', :id => 'toYour') %> 
	</div>
	<div id="bugs">
		<p><big>We all like surprises.</big></p><p><%= image_tag('/images/ladybug.png', :style => 'float:right;margin:-1.3em 1em 0') %>So we've hidden some of these  little critters for you to find within this application.</p>
		<p>We are for all creatures great and small and we don't believe in killing bugs we prefer just to move them to another branch. </p><p>So don't hit your screen just give a holler
		to mail@brodaigh.com or if you're not afraid of bugs go fork it at Github.	
		</p>
	</div>
</div>
</body>
</html>